
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: #fff;
    font-size: 28px;
    text-align: center;
}

h2.titulo span{
    color: #eeff00;
}

/* ESTILO RODAPÉ DIREITOS */

.main-footer{
    color: #fff;
    background-color: #272727;
    display: flex;
    justify-content: center;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu-desktop a{
    color: #666666;
    text-decoration: none;
    display: inline-block;
    transition: .4s;
}

header a:hover{
    color: #fff;
    transform: scale(1,02);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(253, 231, 36);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #fbff00;
    transition: .3s;
}

/* ESTILO DO INICIO DO SITE */
section.inicio-do-site{
    padding: 40px 4%;
}

section.inicio-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio-do-site h1{
    color: #fff;
    font-size: 32px;
}

.inicio-do-site .txt-inicio-site h1 span{
    color: #eeff00;
    font-size: 48px;
}

.inicio-do-site .txt-inicio-site p{
    color: #fff;
    margin: 30px 0;
}

.inicio-do-site .img-inicio-site img{
    position: relative;
    animation: flutuante 2s ease-in-out infinite alternate;
}


@keyframes flutuante{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO OBEJETIVOS PROFISSIONAIS */
section.objetivos-profissionais{
    padding: 40px 4%;
}

.objetivos-profissionais .texto{
    color: #fff;
    padding: 40px;
}

/* ESTILO HABILIDADE PESSOAIS */
section.habilidades-pessoais{
    padding: 40px 4%;
    color: #fff;
}

.habilidades-pessoais .texto p{
    padding: 15px;
}

/* ESTILO MEUS HOBBIES */
section.hobbies{
    padding: 40px 4%;
    color: #fff;
}
.hobbies .texto p{
    padding: 15px;
}

.hobbies .div-video{
    text-align: center;
}

/* ESTILO VIDA ACADÊMICA */

section.vida-academica{
    padding: 40px 4%;
    color: #fff;
}

.vida-academica .texto p{
    padding: 15px;
}

/* ESTILO PARTICIPAÇÃO EVENTOS */
section.participaçao-eventos{
    padding: 40px 4%;
    color: #fff;
}

.participaçao-eventos .texto p{
    padding: 15px;
}

/* ESTILO DISCIPLINAS */

section.disciplinas{
    padding: 40px 4%;
    color: #fff;
}

.disciplinas .div-disciplinas p{
    padding: 15px;
}

.disciplinas .div-disciplinas h4{
    color: #eeff00;
    padding: 5px;
}

/* ESTILO MEUS PLANOS */

section.meus-planos{
    padding: 40px 4%;
    color: #fff;
}

.meus-planos .textos p{
    padding: 15px;
}

/* CABEÇALHO RESPONSIVO */
@media screen and (max-width: 1020px){
    .flex{
        flex-direction: column;
    }
    .menu-desktop, btn-contato{
        display: none;
    }
}